<!DOCTYPE html> 
<html lang="ru"> 
<!-- <head class="@@if(this.class){@@class}"> -->
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<link rel="stylesheet" href="style.css">
	<link rel="preload" href="fonts/Segoe-UI.woff" as="font" type="font/woff" crossorigin>
	@@if(this.head == 'm-quiz' || this.head == 'c-calc'){
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&amp;family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
	}
	<title>Готовые решения</title> 
</head> 
<body class="@@if(this.class){@@class}">