.c-calc {
	$self: &;

	&__container {
		max-width: 1200px !important;
	}

	&__inner {

	}

	&__title {
		text-align: center;
		width: 100%;
		max-width: 1100px;
		margin: 0 auto 30px;
		
		h4 {
			font-family: "Rubik", sans-serif;
			font-size: 32px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		p {
			font-family: "Ubuntu", sans-serif;
			font-size: 24px;
			line-height: 1.2;
			color: #acacac;
			font-weight: 400;

			span {
				color: #3D6DF2;
			}
		}
	}

	&__form {
		// margin-bottom: 30px;
	}

	&__controls {
		display: flex;
		justify-content: flex-end;
	}

	&__btn {
		@extend %reset-button;
		font-family: "Ubuntu", sans-serif;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		padding: 17px;
		color: #fff;
		border-radius: 50px;
		width: 100%;
		max-width: 200px;
		border: 1px solid #C5A47E;
		background-color: #C5A47E;
		transition: background-color 0.2s;
		margin: 0 10px;
		
		&:disabled {
			background-color: transparent;
			border-color: #C5A47E;
			color: #C5A47E;
			cursor: default;
		}

		@include media('<=xxs') {
			// margin: 0 0 20px !important;
		}
		
		&_prev {
			display: none;
		}

		&_next {

		}
	}
}